<?xml version="1.0" encoding="utf-8"?>
<Setup>
   <DatasetName>CIFAR</DatasetName>
   <DataTrnType>Solid</DataTrnType>
   <ClassCnt>10</ClassCnt>
   <BatchCnt>100</BatchCnt>
   <InstFeatDimCnt>512</InstFeatDimCnt>
   <InstCntInBatch>590</InstCntInBatch>
   <EvaluationType>All</EvaluationType>
</Setup>